[2013-07-14 10:01] UtahDave opened #2 "Add Google Chrome"

[2013-07-14 10:01] UtahDave opened #3 "Add WinSCP"

[2013-07-14 10:01] UtahDave opened #4 "Add Git"

[2013-07-14 10:03] UtahDave opened #5 "Add OpenOffice"

[2013-07-14 10:03] UtahDave opened #6 "Add SVN"

[2013-07-14 10:04] UtahDave opened #8 "Add Gimp"

[2013-07-14 10:05] UtahDave opened #11 "Add Inkscape"

[2013-07-14 10:06] UtahDave opened #12 "Add VirtualBox"

[2013-07-14 10:07] UtahDave opened #13 "Add LibreOffice"

[2013-07-14 10:07] UtahDave opened #14 "Add TrueCrypt"

[2013-07-14 10:08] UtahDave opened #15 "Add PDFCreator"

[2013-07-14 10:08] UtahDave opened #16 "Add TightVNC"

[2013-07-14 10:09] UtahDave opened #19 "Add CDex"

[2013-07-14 10:11] UtahDave opened #22 "Add Stellarium"

[2013-07-14 10:12] UtahDave opened #24 "Add MySQL"

[2013-07-14 10:12] UtahDave opened #25 "Add GnuCash"

[2013-07-14 10:18] UtahDave opened #28 "Add Xampp"

[2013-08-27 18:25] calebcase opened #41 "Putty URL needs updating."
Just needs to avoid using 'latest' in the URL since that can change over time. This should be more stable:

[code]

[2014-03-14 05:26] nvx opened #55 "Add salt-minion?"
I'm kind of surprised that the one piece of software everyone is definitely going to be running on their salt managed windows machines, the salt-minion, is not in the repo yet.

[2014-07-01 02:56] billcchung opened #57 "winrepo.genrepo reports exception when using jinja in init.sls"
Hi Guys,

I keep getting an exception while applying jinja in init.sls.
The init.sls (/srv/salt/repo/win/splunk/init.sls):
[code]

but i kept getting an excpetion while running "salt-run winrepo.genrepo"
[code]

It seems like the file was not going through jinja, I tried uncommenting the line:
[code]
in /etc/salt/master, to make sure it's using yaml_jinja.
win_repo is set to  '/srv/salt/repo/win'

[2014-08-08 22:53] Linuturk opened #59 "Add an installer hash option to verify installer integrity"
Allow a sha or md5 hash to be specified as part of the package definition and then ensure the downloaded installer matches that hash.

[2014-08-19 23:13] lorengordon opened #60 "pkg.list_pkgs is incredibly slow when there are many packages installed"
It takes a very long time for pkg.list_pkgs to complete when there are a lot of packages installed. For example, I've been doing a little testing with salt directly on my personal laptop, and I used powershell to time the command taking over 40 minutes to complete. Granted, I have 161 installed programs and 96 installed updates, but still...

PS >Measure-Command -Expression {Start-Process C:\salt\

[2015-01-08 00:46] eliasp commented on #57
@UtahDave I think this one can be closed as a duplicate of #6859

[2015-01-31 18:53] TheBigBear opened #75 "add Adobe Flash Player (non IE)"
Add the adobe flash player for no IE browsers

[2015-01-31 18:54] TheBigBear opened #76 "add Adobe Flash Player (ActiveX) IE"
Add the Adobe Flash Player for IE (ActiveX)

[2015-02-02 22:32] TheBigBear commented on #76
done and PR is merg3d in
https://github.com/saltstack/salt-winrepo/blob/master/adobeflashplayeractivex.sls

[2015-02-02 22:32] #76 closed

[2015-02-02 22:33] TheBigBear commented on #75
Done and PR merged in.
https://github.com/saltstack/salt-winrepo/blob/master/adobeflashplayerplugin.sls

[2015-02-02 22:33] #75 closed

[2015-02-02 22:42] TheBigBear commented on #41
This can be closed. It is done and merged. ping @UtahDave

[2015-02-02 22:44] TheBigBear commented on #15
this has been added a while back. can be closed. ping @UtahDave

[2015-02-02 22:46] TheBigBear commented on #13
can be closed. this has been added a while back. ping @UtahDave

[2015-02-02 22:47] TheBigBear commented on #4
close this. was added a while back. ping @UtahDave

[2015-02-02 22:47] TheBigBear commented on #3
can be closed. was added. ping @UtahDave

[2015-02-02 22:48] TheBigBear commented on #2
can be closed. was added. ping @UtahDave

[2015-02-03 21:07] TheBigBear commented on #8
Gimp is in a PR . https://github.com/saltstack/salt-winrepo/pull/100, so this can be closed. ping @UtahDave

[2015-02-03 21:09] TheBigBear commented on #5
OpenOffice is now in a PR ready for merging. https://github.com/saltstack/salt-winrepo/pull/99, so this can be closed now.
ping @UtahDave

[2015-02-04 09:12] #25 closed

[2015-02-04 09:13] #22 closed

[2015-02-04 09:13] #19 closed

[2015-02-04 09:15] #6 closed

[2015-02-04 09:15] #11 closed

[2015-02-04 09:17] TheBigBear opened #113 "gpg4win-light.sls fails to install silently"
Unfortunately the gpg4win-light sls https://github.com/saltstack/salt-winrepo/blob/master/gpg4win-light.sls fails to complete installing under salt, because the upstream installer has a bug and the /S cmd line switch does not work completely. It will still ask interactively: "Do you want Claws Mail your default mail client?", and because salt installations do not have a UI, it won't finish install

[2015-02-04 09:24] UtahDave commented on #113
That's great. I really appreciate all the work you've done to add packages and update others.
I'm about to catch a plane in Brussels heading back home to the States, but I'll finish processing them once I get back home.

[2015-02-04 10:00] TheBigBear commented on #113
No problem, oh that's why you had such 'strange' (for a person from Utah US) merging hours? And I thought you got up in the middle of the night, to merge mine. LOL ;-) Have a save flight.

[2015-02-04 11:14] TheBigBear commented on #113
Ok, there is a temporary 'local' work-around, until upstream have fixed the broken 2.2.1 "light" installer.
for now you can run the installer as:
[code]
and it won't ask about the Claws Mail being default mailer anymore.

The gpg4win.ini file needs the following contents for that:
[code]

[2015-02-06 16:00] TheBigBear opened #142 "https link does not work for TLS secured DL for teamviewer"
I had a TLS https: link for teamviewer and it would not work. It either crashed or gave up, giving an ssl cert error.
[code]
That happens with the folowing https installer URL, but if you remove the 's' and do a http:// DL it works.

[code]
Is this to be expected or a feature? ;-)

[2015-02-06 17:30] UtahDave commented on #142
Yeah, this is a known bug. We'll have an updated version of requests in 2014.7.2 and that https downloads should resume working.

[2015-02-06 17:33] TheBigBear commented on #142
Ok, cool, thanks. I have switched the URL in the teamviewer PR to be http only for now. Will flip it back to https , after the known bug is fixed and tested.

[2015-02-06 20:31] TheBigBear opened #143 "torn between winrepo.genrepo syntax and sls syntax - can't "please" both"
Not sure how to navigate around this one. It might be a python quoting issue, but here goes.
when trying to run winrepo.genrepo on the master I get

[code]

the sums.sls alpha quality sls file is:

[code]
The problem would appear to be the single quote in install_flags: line column 157. The open single quote before the c:\salt\var\cache\salt\minion\ex ...

What do I do? I tested it on the windows

[2015-02-06 21:55] UtahDave commented on #143
Have you tried the multiline yaml syntax?

[code]

I'm not 100% sure it will work, but it's worth a shot.

[2015-02-06 22:45] TheBigBear commented on #143
Great idea, thanks!
[code]
Much, much more readable, and winrepo.genrepo compiles the blocks correctly again. ;-) Great teacher.

Can I run powershell code in the "installer:" block? Simply adding some PS download code to get the zip file and then unpack it?

[2015-02-06 22:48] UtahDave commented on #143
Hm. When I wrote that, I didn't have in mind putting code directly in the installer section, but then again, neither did I forsee what you're doing with the uninstall_flags option either!  lol  :) So I'd say go ahead and try it.

I do want to go in and polish the windows package manager this year and the use cases you're coming up with will be at the top of my list.

Let me know how it goes puttin

[2015-02-09 18:48] UtahDave commented on #28
Fixed by @TheBigBear !  Thanks!

[2015-02-09 18:48] #28 closed

[2015-02-09 18:52] UtahDave commented on #55
Fixed by @TheBigBear !

[2015-02-09 18:52] #55 closed

[2015-02-09 19:00] TheBigBear opened #148 "gow.sls might suffer from current https or SSL issues"
I found that the https link is suffering from some sort of TLS SSL issue, I assume it is the same issue that affected me the other day. on anohter package where @UtahDave said it was the SSL setup and a "known issue" and would get fixed 'soon' .

So I will re-test when the new SSL setup is in. Two workarounds in the meantime. 1st try a simple http link instead. If that does not solve it . download

[2015-02-09 19:17] TheBigBear commented on #148
is this same or different issue as I had with teamviewer download? #142

[2015-02-09 19:41] UtahDave commented on #148
yes, this is the same https issue. We're testing the fix for it today.

[2015-02-09 19:42] #2 closed

[2015-02-09 22:09] TheBigBear commented on #3
commit 302041dfcd8503e53f818cf3afcc175aa36d9c94 by @Narcolapser fixed this and this issue can be closed

[2015-02-09 22:11] TheBigBear commented on #4
commit 467313bfe7318d0faa90a1460e608628a908cd1e by @UtahDave fixed this, this issue is fixed

[2015-02-09 22:13] TheBigBear commented on #5
commit b71f0a8bf064c75ae59f1ae7e76b1654de943b75 by @TheBigBear fixed this issue, it can be closed

[2015-02-09 22:14] TheBigBear commented on #8
commit f3b7eee9c92faea7d85cd659c0da460cb03db41e by @TheBigBear PR #100 fixed this issue and it can be closed

[2015-02-09 22:17] TheBigBear commented on #13
commit 15c1e0296aefabe771f0117555d0e6bda344e5d0 by @Narcolapser fixed this and it can be closed

[2015-02-09 22:18] TheBigBear commented on #15
commit 302041dfcd8503e53f818cf3afcc175aa36d9c94 by @Narcolapser fixed this and it can be closed

[2015-02-09 22:19] TheBigBear commented on #16
commit 5203a39831acec545eea7fb468fdd1933cb3e4f3 by @TheBigBear fixed this and it can be closed

[2015-02-09 22:21] TheBigBear commented on #24
commit 6a3f1e19012d9c8798b25d62a06a96621eceeff0 by @TheBigBear fixed this and it can be closed

[2015-02-09 22:23] TheBigBear commented on #41
PR #42 commit e45e8e9489e3c3b5bcbe2cb410c114cef182edf8 fixed this and it can be closed.

[2015-02-12 20:46] TheBigBear opened #149 "curl.sls breaks winrepo.genrepo - how is that possible?"
My recently submitted curl.sls seems to be breaking the winrepo.genrepo routines. How is that possible? If I remove the curl.sls file from the "/srv/salt/win/repo/salt-winrepo.git" dir on the master, then winrepo.genrepo works again.

What is wrong with my curl.sls file?

salt-run winrepo.genrepo

[code]

[2015-02-12 20:58] TheBigBear opened #151 "xampp.sls is malformed - breaks winrepo.genrepo"
winrepo.genrepo complains about blocks in xampp.sls.

[2015-02-12 21:01] TheBigBear opened #153 "mysql-installer-community.sls is malformed - breaks winrepo.genrepo"
the mysql-installer-community.sls file has block errors reported by winrepo.genrepo

[2015-02-12 21:05] TheBigBear opened #155 "ccleaner.sls breaks winrepo.genrepo"
when running winrepo.genrepo it complains about blocks in ccleaner.sls

[2015-02-12 21:06] UtahDave commented on #155
can you provide cli output on that?

[2015-02-12 21:11] TheBigBear commented on #155
Hi,

Sorry I over-reacted. I had missed a missing “:”. Have fixed it and submitted PR.

Also found similar but milder winrepo.genrepo syntax issues of misaligned blocks in other files. have created PRs for them. All should be well.

[2015-02-12 21:54] TheBigBear opened #157 "ultravnc_x86.sls is malformed - breaks winrepo.genrepo"
when generating a new winrepo.genrepo it trips over ultravnc_x86.sls
[code]

[2015-02-13 17:31] TheBigBear commented on #155
Ok, sure, sorry I didn;'t include it. It seemed obvious to e that it was my inexperience with python and keeping things nealty lined up in blocks.

[code]
My PR above fixes this and the winrepo.genrepo complaints go away so I think it fixes #156

[2015-02-13 18:22] #149 closed

[2015-02-13 18:24] #155 closed

[2015-02-13 18:24] #151 closed

[2015-02-13 18:25] #153 closed

[2015-04-05 13:34] DavidJFelix opened #192 "LICENSE"
This project needs a license to be properly shared or contributed to. This is causing an issue for https://github.com/github/linguist/issues/960#issuecomment-89767753

[2015-04-05 13:52] UtahDave commented on #192
Sorry about that. That was an oversight. This repo is licensed under the
Apache 2.0 license. I'll update the repo to reflect that later today
On Apr 5, 2015 7:34 AM, "David J. Felix" <notifications@github.com> wrote:

[2015-04-05 19:26] #192 closed

[2015-05-26 14:55] DavidJFelix opened #197 "Add vagrant."
Depends on #12

[2015-05-26 16:38] DavidJFelix commented on #14
Probably no longer valid.

[2015-05-29 00:01] #12 closed

[2015-05-30 04:29] DavidJFelix opened #215 "JRE download requires oracle accept"
Affects: Java JDK and JRE downloads
Expected: JRE url retrieves installer
Observed: JDK and JRE url is not directly accessible in browser. It requires a cookie telling oracle that you accept their license.

It seems CPU-z has a similar cookie requirement. Might be a place to grow the winrepo module to allow specifying cookie values to pass in a request.

[2015-07-07 09:17] TheBigBear commented on #157
commit 43dbdb1 fixed this. this issue can be closed

[2015-07-07 10:18] TheBigBear commented on #215
@DavidJFelix what I have done as a workaround fornow, is, I changed the sls file to point to ```salt://win/repo``` on the master and have the admins download and upload to salt master manually. It adds an extra steps, but once done on the master still allows the windows installer to be installed on as many minions as you like.
see the salt winrepo cURL.sls file https://github.com/saltstack/salt-wi

[2015-07-07 10:34] TheBigBear opened #249 "a number of winrepo issues have been resolved and should be closed"
ping @UtahDave, the following salt winrepo issues have actually been resolved, but weren't closed when the code was committted.
In the interest of cutitng down on "clutter' in the active issues list, can they please be closed?
I have commented on each individually, which commit it was that closed/resolved the issue.

Add WinSCP #3
https://github.com/saltstack/salt-winrepo/issues/3

Add Git #4
http

[2015-07-07 22:34] jfindlay commented on #157
Thanks, @TheBigBear.

[2015-07-07 22:34] #157 closed

[2015-07-07 22:39] UtahDave commented on #249
awesome!  Thanks for compiling this list!

[2015-07-07 22:39] #3 closed

[2015-07-07 22:39] #4 closed

[2015-07-07 22:39] #5 closed

[2015-07-07 22:39] #8 closed

[2015-07-07 22:39] #13 closed

[2015-07-07 22:39] #15 closed

[2015-07-07 22:39] #16 closed

[2015-07-07 22:39] #24 closed

[2015-07-07 22:39] #41 closed

[2015-07-07 22:40] #113 closed

[2015-07-07 22:40] UtahDave commented on #249
Done. Thanks again!

[2015-07-07 22:40] #249 closed

[2015-07-07 23:14] twangboy commented on #57
Fixed by #24980
Will be available in 2015.8 (Beryllium)

[2015-07-07 23:14] #57 closed

[2015-07-11 08:56] TheBigBear commented on #57
@twangboy this is great. So this means jinja support is coming to winrepo sls files, right?
If so, how can I tell a winrepo sls file that it needs version >= 2015.8.x, so it can process jinja in it?
I would really like to cleanup/improve the winrepo sls files and switch to files that use jinja to determine if they need to install the x64/amd 64-bit installer or the x86 32-bit one for a starter.
An

[2015-07-13 17:13] twangboy commented on #57
@TheBigBear @UtahDave
As I understand it, we'll have to use a separate repo for Salt-Minion 2015.8. Jinja in the .sls definitions will break winrepo on older versions on Salt. There's really no clean way to make the transition.

[2015-07-13 18:01] TheBigBear commented on #57
@twangboy @UtahDave, hmmhh, that is kind of what I was expecting. ;-( Luckily I have NO older minions on my networks. ;-)
@UtahDave could this be the time to add/expand the functionality of winrepo, to deal with some of the biggest frustrations or limitiations? Or is that 'too late' to have any hope to make it into 2015.8 (Beryllium)?

[2015-07-14 08:18] TheBigBear commented on #14
I disagree, and so do many others, it has been audited and this version appears 'clean'. can we not let the users decide IF they want to install this or not? same applies to #267
I for one need it installed on all my laptops
ping @UtahDave

[2015-07-14 14:45] UtahDave commented on #14
I think there's enough users of truecrypt still to warrant its inclusion here. We should probably keep an eye on the project though and remove it from this repo if they remove their downloads or a severe vulnerability is exposed that they're not going to fix.

[2015-07-14 14:45] #14 closed

[2015-07-14 14:47] UtahDave commented on #60
Wow, that does seem horribly excessive. @twangboy has done quite a bit of work on the pkg module on Windows recently.  Have you tested on a newer Salt version such as 2015.5.3?

[2015-07-14 14:47] TheBigBear commented on #14
My thoughts exactly. Thanks.

[2015-07-14 14:49] lorengordon commented on #60
Heh, I forgot I even opened this issue. I'll test again this evening with a current version of salt. (Pretty sure I was using 2014.1 for this test.)

[2015-07-14 14:52] UtahDave commented on #60
Sorry for not seeing this issue sitting here for almost a year. I didn't see it among the other issues.  That's embarrassing.

If this is still a problem, let's copy this issue over to the main Salt repo since this is more of a problem with Salt's internal pkg module and not so much with this software pkg repo.

[2015-07-14 14:55] lorengordon commented on #60
No worries, I was just getting started with salt and GitHub at the time and probably didn't even realize I was submitting the issue in the wrong place. I understand the difference now. :grinning:

[2015-07-15 00:26] lorengordon commented on #60
Much better now! Under 10 seconds.

[code]

[2015-07-15 00:26] #60 closed

[2015-07-16 07:25] TheBigBear commented on #143
Yes, this works great issue can be closed, as the solution is to use the multiline yaml syntax.

[2015-07-16 07:25] #143 closed

[2015-07-16 15:05] TheBigBear commented on #142
re-tested and https now works again, I have switched this back to a https download link and updated the version to be the most current one.

[2015-07-16 15:05] #142 closed

[2015-07-16 15:06] TheBigBear commented on #148
ok, re-tested this and https now works again

[2015-07-16 15:06] #148 closed

[2015-08-25 11:38] carlpett opened #487 "salt-minion fullname does not match installed name"
The salt-minion.sls file states the full name with a version number prefixed by a 'v':

[code]

However, at least when installed on my machines (Win2012R2 datacenter ed), the name is `Salt Minion 2015.3.2`, without the 'v'. Is this something that is due to my machines, or did the spelling change at some point and there was a batch change to the file?

[2015-08-25 13:13] #487 closed

[2015-08-25 13:16] TheBigBear commented on #487
@carlpett Thanks for reporting this.

I have batch reverted this back to the names without the leading 'v' in front of the version number.

I couldn't find where he error was introduced. It was quite possibly wrong from the start.

Please re-open this, if this did not solve it for you?

[2015-08-25 13:23] carlpett commented on #487
@TheBigBear That solves it just fine, thank you :)

[2015-08-26 17:49] #197 closed

[2015-08-26 18:03] DavidJFelix opened #490 "Add eclipse"
Add eclipse https://eclipse.org/ Consider plugins and shit

[2015-08-26 18:10] DavidJFelix opened #491 "Add intellij (at least community editions)"
https://www.jetbrains.com/idea/

[2015-08-26 18:12] DavidJFelix opened #492 "Feature request: Checksums"
We're fanning work out to a variety of servers of a variety of security and reliability. It sure would be nice to be able to specify a checksum on the installer/uninstaller to ensure that it's the one we expect before haphazardly running it.

[2015-08-26 19:29] #491 closed

[2015-08-29 23:33] DavidJFelix opened #499 "Slack?"
Ping @TheBigBear

So this is a weird one, I think and I may need some help.

So [slack](http://slack.com) has a [Windows installer](https://slack.com/ssb/download-win). The installer operates silently when passed the `-s` flag.

Installation is pretty easy. However, I'm not sure how to denote version. Slack very clearly has a version. You can see it in the help and the uninstaller exists within a

[2015-08-30 17:06] TheBigBear commented on #499
@DavidJFelix there are already a few packages that use version 'latest'. This solution suggests itself if you got a single installer that doesn't change name with each version. (adobe flash is another one of them)
The githusetup.exe is planning to also switch to using Squirrel, btu right now uses MS Click-once and therefore can't be either installed or uninstalled in a /silent fashion. So there wo

[2015-08-30 17:06] TheBigBear commented on #499
@DavidJFelix thanks for this one, well done.

[2015-08-30 19:32] DavidJFelix commented on #499
@TheBigBear np. One question though, is the per-user `%LocalAppData%` okay? I wasn't sure if this would mesh well with system level packages.

[2015-08-30 19:34] DavidJFelix opened #504 "Inconsistent naming for 64/32bit packages"
Some x64 packages have an `_x64` suffix to match the `_x86` being used for 32 bit packages, but some do not.

Wireshark does not, Python does. There are other examples.

[2015-08-30 20:00] TheBigBear commented on #499
Oh, I was assuming that you had tested this and it was working for you?
The ```%LocalAppData%``` is almost certainly a problem.
As it is a user variable and the ```user``` installing this will almost certainly differ between ```salt``` installing it and/or and admin.

[2015-08-30 20:06] DavidJFelix commented on #499
Sorry, no. I'm still working on setting up and env for testing these. I'm in OSX/Linux most of the time. Hence the issue + the PR. Wanted to discuss this one a bit.

So how do we work on this? I know homebrew still works in OSX and it installs everything at user level.

[2015-09-01 20:23] DavidJFelix commented on #499
@TheBigBear so what should we do about this?

[2015-09-01 20:33] TheBigBear commented on #499
@DavidJFelix I am a bit busy this week, sorry, ideally we should test it and see what actually happens. And there might be others that you submitted that may or may not work.

The winrepo downloader is not the smartest bit of software around, when dealing with detecting filenames.
 Many URLs that it gets fed to it that doesn't end in the actual filename it might end up downloading some none sense

[2015-09-02 01:50] DavidJFelix commented on #215
Okay some notes for myself and posterity about this effort. I just dug through the salt source code and I somehow managed to come out clean (holy shit).

So. Assuming winrepo wants to support these and not just push them out to formulas, we need cookie values. My proposal for yaml notation for this would be:

[code]
etc

Now this poses a few issues to current winrepo logic.

First: Installer would

[2015-09-02 01:53] DavidJFelix commented on #499
No problem about being busy, I totally understand. For the time being could we reopen this issue? I think this isn't closed, but also may be the place to discuss how to handle user-level installables.

[2015-09-02 07:40] TheBigBear commented on #504
@DavidJFelix well spotted. ;-)
Actually I think this might be allrigth and may make some sense? Let me try to explain.

Point 1 is that the distinction between x86 and x64 pkgs is badly broken when it comes to any minion < 2015.8 (i.e. all currently released minions), It works for most pkgs to get at least a version installed, often not the right one - moslty it wiil end up installing the x86 one

[2015-09-02 11:31] TheBigBear commented on #499
@DavidJFelix yep, as feared, the winrepo downloader downloads a file called "download-win" which it then can't execute. So this pkg cannot be installed "as-is" at this point in time.

I am going to edit the 'sls' file and change the installer to point to 'salt://win/repo/slack' instead of the web URL. That way those desperate enough to install slack using salt winrepo can do so after they download

[2015-09-02 14:41] DavidJFelix commented on #499
Good thing I'm a leet hacker who can use curl. `curl -i https://slack.com/ssb/download-win` reveals the headers on this page:

[code]

which contain a 302 redirect to slack's content delivery link: https://slack-ssb-updates.global.ssl.fastly.net/releases/SlackSetup.exe

[2015-09-02 14:44] DavidJFelix commented on #499
Okay, so now that the link is taken care of... lets see if `%LocalAppData%` becomes an issue. If it is an issue, we should discuss how to handle this increasingly common case, where apps install per-user on windows systems.

[2015-09-03 15:35] DavidJFelix commented on #499
So @TheBigBear. For my use case, I believe `%LocalAppData%` works. However, my use case is unusual and this may not work for typical use cases.

I'm currently running Salt-minion in a "local" mode, operating with no master. This requires a user to run `salt-call` from a privileged powershell window. What this means is that `%LocalAppData%` will evaluate to the logged in user which happens to be th

[2015-09-03 15:36] DavidJFelix commented on #499
We can continue discussing if you'd like, but I'm going to consider this issue closed unless you think my above suggestion is bad. Please let me know. :)

[2015-09-03 15:36] #499 closed

[2015-09-03 15:40] DavidJFelix commented on #499
I'll note: in linux there's no good way aside from using `salt.cmd.run` to install a user-level binary to that user's `~/bin` directory, which I see fairly regularly within a linux-heavy work environment.

[2015-09-03 15:53] TheBigBear commented on #499
@DavidJFelix good enough for me. The last bit about the way to do 'this sort' of thing in linux helped a lot. Thanks.

[2015-09-03 16:06] DavidJFelix commented on #499
I'll consider attempting to add a module to salt that handles some of these per-user oddities, but it's pretty low priority with these minimally painful workarounds.

[2015-09-03 23:45] twangboy commented on #499
@DavidJFelix Sorry to chime in so late on this.

Regarding the salt-minion service: The salt-minion installation requires elevated privileges to install because the service runs under the local System account.

per user installations:
Are these MSI installations? or are they third party? We have code in the pkg.install that adds `ALLUSERS=1` for msi's to force 'install for all users'. That may not

[2015-09-04 00:03] DavidJFelix commented on #499
@twangboy so elevated privileges in windows really just means "run as administrator" which any user in the administrators group can do.

the `pkg.installed` only sets `ALLUSERS=1` when the backend is msiexec (set by a winrepo arg) and allusers is set to true (set by a winrepo arg). neither of these are the case with this installer.

The big issue is that msiexec is the one that does the all users

[2015-09-05 22:06] twangboy commented on #499
@DavidJFelix So, to clarify, what you're saying here is that you want to run a package installation as a specific user so that it will install for that user instead of doing an `allusers` installation using the Local System account the minion uses. Is that correct?

If so, we currently don't have a way to 'runas' a different user... It's a little tricky in windows when trying to shell out to a com

[2015-09-05 23:45] DavidJFelix commented on #499
@twangboy uh. I wasn't aware of the local system account, as I'm not really a windows developer.

I have never and likely will never run salt in a minion/master fashion - I have no need for it. When I run salt in windows, I use `salt-call`, in an administrator-privledged powershell prompt.

I'm not sure what the solution is to running this in a minion/master fashion, but I certainly don't think th

[2015-09-06 03:24] twangboy commented on #499
@DavidJFelix Would you mind opening an issue in salt describing what you need here. As I understand it, you need to be able to install software for other users on the machine while running salt-call from and administrative command/powershell prompt. Basically you would want to execute the installer using the target user's credentials, correct? There may be some security issues there as it would re

[2015-09-06 03:24] DavidJFelix opened #519 "Let's talk about chrome"
So I think I found a few issues with the chrome package.

I don't think that the url of the package works. Also, it's worth noting that the url is exactly the same for all versions, since Chrome is a self-updating package. I know we talked about this in another bug, latest might be the right choice. Chrome is unique however, in that it has release channels: https://www.chromium.org/getting-involve

[2015-09-06 03:39] DavidJFelix commented on #499
@twangboy I think you're misunderstanding. Salt works perfectly fine for my purposes. `salt-call` works for me. The problem is that the `slack` package in winrepo won't work for people using salt with a minion.

Again. I have to emphasize. Works for me.

[2015-09-06 18:41] DavidJFelix commented on #499
@twangboy sorry, I responded to that at about midnight my time.  For clarity, I'll explain exactly what I'm doing and what I'm looking to accomplish. I suppose this discussion should take place somewhere other than here, but since we're talking here, it should be fine. **Sorry in advance for the novel, but this should clear up everything**

I'm currently working on a system for local privileged us

[2015-09-06 18:55] DavidJFelix commented on #499
... but, having only the running user get the software means that salt-minion running as a service probably won't install it for a user, admin group or not. That gets us to a philosophical discussion -- is winrepo in the business of keeping packages that don't work 100%? I'd say there's already a precedence with Java (since it needs a local file that isn't included). I'm not sure how well winrepo

[2015-09-08 18:05] twangboy commented on #499
@DavidJFelix Some great points and an interesting use case. Thanks for the detailed explanation.
@UtahDave, @TheBigBear (Please read the Novel) ^^^^

[2015-09-15 05:52] DavidJFelix commented on #519
I'm still not sure what I'm doing with this so...
Notes:

* The comment in the chrome sls contains a bad link, which was my misunderstanding
* The URL for the package does work
* The URL goes to enterprise edition (this has it's own caveats)
* The URL goes to enterprise (32b) edition (although the installer may contain both -- I'm not sure)
* There is a URL for 64 bit enterprise version, but we're

[2015-09-15 06:50] TheBigBear commented on #519
@DavidJFelix thanks for the feedback, there is a lot there, so let's give some feedback point by point and see where it leads.

* The comment in the chrome sls contains a bad link, which was my misunderstanding
OK I'll have a look and correct that, thanks for reporting it.

* The URL for the package does work
Glad it works for you too.

* The URL goes to enterprise edition (this has it's own cavea

[2015-09-15 07:07] DavidJFelix commented on #519
(Late post, I'll probably follow up at a normal hour with more detail).

Not having release channels can be a problem for many web developers - not all versions of a browser are equal. It can be difficult to stay ahead of the curve metaphorically when you're not literally ahead of the curve using a browser with features that are not yet in the stable version. With new browser support for whatever

[2015-09-15 07:14] DavidJFelix commented on #519
Here's a sample standalone installer link:

https://dl.google.com/tag/s/lang%3Den%26browser%3D4%26usagestats%3D0%26appname%3DGoogle%2520Chrome%26needsadmin%3Dtrue%26ap%3Dx64-stable/update2/installers/ChromeStandaloneSetup64.exe

Google's download server is doing something funky with tags behind the scenes. Anyways, the url is pretty easy once you deconstruct the percent encodings to something that

[2015-09-15 07:23] DavidJFelix commented on #519
regarding bitness: I'm of the camp that you should always use 64bit when possible. I'm not sure if chrome installer does this automatically or not. Google claims the 64bit client crashes less frequently so I'd assume they would try to install it if they could. With 64 bit you get access to high entropy ASLR on windows 8.1+, which is my biggest reason for backing it. You probably won't hit the RAM

[2015-09-15 18:11] DavidJFelix commented on #519
@TheBigBear awake now. So the big caveat is that if a user wants chrome beta, they can't get chrome beta. There are reasons to want chrome beta. Right now I have enterprise chrome and it's at release 43. I think this is a few versions behind because my sysadmins haven't gotten to 45 yet, but here's the difference in 43 and 46 (what would have been dev):

http://caniuse.com/#compare=chrome+43,chrom

[2015-10-14 14:34] tkent opened #586 "NSClient++ installer URLs broken"
NSClient++ download URLs have changed, breaking this package. I'll send a pull request shortly.

This really highlights issues #37 and #38

[2015-10-15 16:01] #586 closed

[2015-11-09 22:08] rterbush opened #606 "putty.sls is broken. Bad format for 0.66 version"
https://github.com/saltstack/salt-winrepo/blob/master/putty.sls#L2

Missing version number on line #2.

Causes genrepo to blow up. Rather big issue, especially since I seem to get this repo automatically and don't need it in my 2015.8.x environment.

This should be a quick fix for any regular contributor. If needed, happy to put together a pull request.

[2015-11-09 22:59] TheBigBear commented on #606
@rterbush thanks for reporting this. Sorry, this was my mistake, bad copy and paste and a hasty commit.

[2015-11-10 02:04] rterbush commented on #606
Have never done that myself... :monkey_face:

[2015-11-10 02:04] #606 closed

[2015-11-19 17:14] johnccfm opened #612 "Duplicate full_name/version items in repo"
This is related to a PR I sent, https://github.com/saltstack/salt-winrepo/pull/585

I need a sanity check here, because I think this is majorly broken but perhaps I'm totally wrong.

The win_pkg module identifies software by matching on the full_name and version data **only**. It seems to scan its list of known packages until it finds the first match. If there are duplicates in this package DB, th

[2015-11-19 17:15] johnccfm commented on #612
Since this repo is now effectively a legacy thing, and since 32-bit Windows is mostly a legacy thing, I'd suggest the fix (where clashes occur) is just to remove the 32-bit package. It is likely to have very little impact.

[2015-11-19 18:40] TheBigBear commented on #612
@johnccfm You got it. It is Indeed a problem exactly as you describe it.

[2015-11-20 09:54] johnccfm commented on #612
I've just (as of yesterday) bumped my Windows minions to 2015.8.1 so it doesn't affect me directly any more.

I think my PR might need updating because time has passed, but do you think the approach is reasonable? I'm not sure which is the better way to look at it. Is it better to have a bigger selection of packages where you have to ignore the return status of the install state (and can't rely on

[2015-11-20 16:09] twangboy commented on #612
@johnccfm Your master will also need to be 2015.8.1 to work with the new winrepo.

[2015-11-20 16:11] johnccfm commented on #612
@twangboy yeah thanks, it is! I upgraded everything to 2015.8.0 and then hit the problem with the HTTP downloads for the Windows repo being broken, so rolled the Windows minions only back to 2015.5.5 temporarily. Now I've upgraded everything to 2015.8.1.

[2015-12-03 08:22] Jeewsus opened #616 "Can you update Python to 3.5.0?"

[2015-12-03 10:00] TheBigBear commented on #616
@Jeewsus any particular reasons to do so?

Anything that doesn't work for you right now?

AFAIK the ```'core'``` salt code will be going to python 3.x at some point in the future, but what are your reasons for asking for it?

And why are you asking for it on the old ```'salt-winrepo'``` part of the project?

The ```'salt-winrepo'``` is old and has been superceeded by ```'salt-winrepo-ng'``` for al

[2015-12-03 11:34] Jeewsus commented on #616
@TheBigBear Yeah, i would like to update the computers i manage all to 3.5 since some people would like to use it.
And im on 2015.5.x with my minions actually.

[2016-03-04 02:22] DavidJFelix opened #770 "Docker toolbox/boot2docker"
https://www.docker.com/products/docker-toolbox

[2016-03-04 12:54] TheBigBear commented on #770
@DavidJFelix how is this a salt-winrepo issue? Can you give abit of context? This sems like a 'random' link i the middle of a packaging repo.

Would you like a salt-winrepo sls installer for it written? If you do, can you do some research on how to quietly install this, please?

Even when using all the 'silent' switches for a Inno-Installer, known to me, this one comes up with severeal user prompt

[2016-03-04 13:08] DavidJFelix commented on #770
This is just an issue tracking docker toolbox win report inclusion since it's not included but a desirable package. I managed to find the inno installer script but I'm not sure what I'm looking for https://github.com/docker/toolbox/blob/master/windows/Toolbox.iss

[2016-03-04 14:00] TheBigBear commented on #770
@DavidJFelix, basically try installing it on a clean windows machine and apply all the known 'silent' switches to the installer as in:

```DockerToolbox-1.10.2.exe /VERYSILENT /SUPPRESSMSGBOXES /NORESTART /SP-```

and then watch the supposedly silent and no user interaction install, and every time it asks for user feedback, make a note of it, and then try to eliminate it.  The reason being, that a

[2016-03-04 15:07] #770 closed

[2016-03-12 02:37] m03 commented on #492
@DavidJFelix , I added something like that on the develop Salt branch a couple of weeks ago. See the source_hash parameter here:

https://docs.saltstack.com/en/develop/topics/windows/windows-package-manager.html

https://github.com/saltstack/salt/blob/develop/salt/modules/win_pkg.py

[2016-04-26 11:19] romanovna opened #810 "WinPcap have no 'silent' installation"
Actually, winpcap_install.exe have no silent installation, so it may be a little bit confusing, when your state takes too long to finish.

[2016-04-26 22:44] twangboy commented on #810
Then it can't be installed using `pkg.install`

[2016-04-28 06:08] hrumph opened #811 "Possible documentation problem in for salt.states.pkg.installed"
Hi,
in the documentation for salt.states.pkg.installed
it says

However I've been trying it with winrepo and it seems to be working fine during my tests (or does the windows repo somehow count as one of the listed providers?) Could the documentation somehow clarify this?

[2016-04-28 06:28] hrumph commented on #811
Closing this because I sent this to the wrong place.

[2016-04-28 06:28] #811 closed

[2016-04-28 17:02] jbest84 opened #813 "Incorrect parameter: microsoft-build-tools"
There is no /qn flag for the BuildTools_Full.exe installer. This causes the installer to open a winforms dialog with the list of params. The minion keeps the process open indefinitely.

[2016-04-28 17:08] TheBigBear commented on #813
@jbest84 thanks for reporting this

[2016-04-28 17:09] TheBigBear commented on #813
@jbest84 what is the 'quiet' or 'silent' switch for this installer? Do you know? Is there one listed in the open winforms dialog?

[2016-04-28 17:37] jbest84 commented on #813
/Quite (/Q) and /Silent (/S)

I took a screenshot of the full list:
![builttools_params](https://cloud.githubusercontent.com/assets/354553/14895369/1b31d3c2-0d2d-11e6-8c43-caf0205caa72.PNG)

[2016-04-28 17:41] jbest84 commented on #813
I am relatively new to salt. Is there a way these package flags can be overriden in my state files via an include/extend? I tried doing this with no luck:

[code]

[2016-04-28 19:38] TheBigBear commented on #813
@jbest84 can please test and confirm that this can be closed?

[2016-04-28 20:02] jbest84 commented on #813
@TheBigBear It worked. Thank you!

[2016-04-28 21:02] #813 closed

[2016-04-28 22:49] TheBigBear commented on #813
@twangboy @jfindlay do you guys know if parameters can be 'overriden' in the way @jbest84 describes above in https://github.com/saltstack/salt-winrepo/issues/813#issuecomment-215506184 ?
IF this can't be done already, I think this would make a great addition, but I suspect this type of 'over-riding' is probably already possible? Rigth?

[2016-05-03 18:09] twangboy commented on #813
@TheBigBear I think it would be possible. I have added it to my list (which is getting large) of winrepo things to do.

[2016-05-20 08:03] romanovna commented on #810
Just some info about WinPcap and silent installation, hope this would be helpful
http://paperlined.org/apps/wireshark/winpcap_silent_install.html

[2016-06-08 13:42] hsluoyz commented on #810
Hi.

You would like to try Npcap: https://github.com/nmap/npcap.

It's another fork of WinPcap with multiple new features, including silent installation.

[2017-08-28 01:46] #59 closed

[2017-09-11 21:41] stratusjerry opened #1324 "npp_x86 uninstaller has wrong path"
The npp_x86 uninstaller has the wrong path #1323

[2017-09-12 08:39] malasgowda opened #1325 "How to installl saltstack in Rhel5.4 OS"
Hi,

We are unable to install salt-stack in Rhel5.4 OS. Its telling dependency  error

rpm -ivh salt-minion-2016.11.3-2.el5.noarch.rpm
warning: salt-minion-2016.11.3-2.el5.noarch.rpm: Header V3 RSA/SHA1 signature: NOKEY, key ID 42e589e9
error: Failed dependencies:
        /usr/bin/python2.6 is needed by salt-minion-2016.11.3-2.el5.noarch
        salt = 2016.11.3-2.el5 is needed by salt-minion-2016

[2017-10-23 14:39] lhost commented on #1325
Try to import GnuPG key:

`wget -O /etc/pki/rpm-gpg/SALTSTACK-EL5-GPG-KEY.pub --no-check-certificate   https://repo.saltstack.com/yum/redhat/5Server/x86_64/latest/SALTSTACK-EL5-GPG-KEY.pub
rpm --import /etc/pki/rpm-gpg/SALTSTACK-EL5-GPG-KEY.pub
`

[2017-10-23 19:06] dmurphy18 commented on #1325
@malasgowda SaltStack no longer supports Redhat 5 since it has reached it End-Of-Life.
However you should be able to use archived versions of support for Redhat 5 from when it was supported, check instructions from http://repo.saltstack.com/2016.11.html#rhel

That version was installed and tested by QA, however it would have been against Redhat 5.11 at a minimum.  Redhat 5.4 is quite old, however

[2017-10-23 19:23] dmurphy18 commented on #1325
@malasgowda BTW, packaging issues are better dealt with by salt-pack, which is where all packaging builds occur, see https://github.com/saltstack/salt-pack

[2018-06-30 14:48] #1325 closed

[2018-06-30 14:49] #1324 closed

[2018-06-30 14:52] #810 closed

[2018-06-30 14:53] #612 closed

[2018-06-30 14:53] #519 closed

[2018-06-30 14:53] #504 closed

[2018-06-30 14:54] #490 closed

[2018-08-05 14:51] DavidJFelix commented on #215
I'm closing this for the following reasons:

* I don't intend to do any work to fix this
* I am not concerned with it getting fixed
* It seems this issue may be outdated
  - Last mention was 2016
  - Oracle JRE is even more restrictive in 2018, to the point that this may be totally invalid now

I welcome anyone who evaluates this and finds it to still be relevant to reopen it

[2018-08-05 14:52] #215 closed

[2018-08-05 14:56] #492 closed

[2019-04-02 16:03] arnists opened #1331 "Gimp installation does not work"
UAC dialog prevents installation.

[2019-04-08 20:39] twangboy commented on #1331
The salt minion should be running under the System account, which doesn't display UAC.

[2021-04-28 00:48] Masp-service opened #1334 "T"

[2021-08-31 19:44] ScriptAutomate opened #1335 "Migrate Travis CI jobs to GitHub Actions"
Convert the job configurations within [.travis.yml](https://github.com/saltstack/salt-winrepo/blob/master/.travis.yml) to GitHub Actions workflows, and decommission integration with Travis CI.